@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.layout {
  margin: 0px;
  font-family: 'Lato', sans-serif;
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  height: inherit;
  flex-wrap: inherit;
  flex: 1;
}

.header {
  width: 100%;
  background: #1fab89;
  display: flex;
  height: 60px;
  justify-content: space-between;
  align-content: center;
  flex-wrap: wrap;
  position: fixed;
  z-index: 1;
}

.header-logo {
  max-width: 100px;
}

.header-menu {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  height: inherit;
}

.header-menu-item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: inherit;
  text-decoration: none;
  color: #222831;
  max-width: 100px;
}

.header-menu-item:hover {
  background: #1c9e7d;
  text-decoration: underline;
}

.header-burger-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
  line-height: 40px;
  left: 10px;
  top: 10px;
  position:fixed;
  display: none;
}

.greeting {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-items: center;
  justify-content: space-evenly;
  background: #9df3c4;
  padding: 10px;
  padding-top: 70px;
  padding-bottom: 0;
}

.greeting-presentation {
  padding-top: 20px;
  color: #5c6470;
  letter-spacing: -.2px;
  line-height: 1.5em;
  font-size: 25px;
}

.greeting-presentation strong {
  color: #393e46;
}

.greeting-image {
  flex-shrink: 0;
  width: 250px;
  margin-top: -80px;

}

.skills {
  background: #d7fbe8;
  padding: 10px;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  justify-items: center;
  align-items: stretch;
}

.skill-box {
  margin: 10px;
  background: white;
  max-width: 250px;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 10px 10px 10px #c2e2d1;
}

.skill-box figure {
  margin: 0;
}

.video-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 56.25%;
  margin-top: 25%;
}

.video {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.soft-skills {
  padding: 10px;
}

.soft-skills-container {
  padding: 10px;
}

.soft-skill-box {
  margin: 10px;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 15px;
  border: 1px solid black;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "soft-skill-title soft-skill-image"
                       "soft-skill-description soft-skill-image"
                       "soft-skill-suggestion soft-skill-image";
  column-gap: 25px;
  box-shadow: 10px 10px 10px #449e886c;
}

.soft-skill-title,
.soft-skill-description,
.soft-skill-suggestion {
  padding: 10px;
  display: flex;
  justify-content: start;
}

.soft-skill-title {
  grid-area: soft-skill-title;
  align-items: center;
}

.soft-skill-description {
  grid-area: soft-skill-description;
}

.soft-skill-suggestion {
  grid-area: soft-skill-suggestion;
}

.soft-skill-image {
  grid-area: soft-skill-image;
  margin: 0;
  max-width: 250px;
  width: 100%;
  display: flex;
  justify-self: center;
}

@media screen and (max-width: 768px) {
  .soft-skill-box {
    grid-template-columns: 100%;
    grid-template-areas: "soft-skill-title"
                         "soft-skill-image"
                         "soft-skill-description"
                         "soft-skill-suggestion";
  }
  .soft-skill-title,
  .soft-skill-description,
  .soft-skill-suggestion {
    width: inherit;
    display: flex;
    justify-content: center;
  }
}

.hobbies {
  padding: 10px;
}

.hobbies-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  justify-items: center;
  align-items: center;
}

.hobby-card {
  border: 1px solid black;
  max-width: 278px;
  width: 100%;
  background: #d9e9e0;
  border-radius: 10px;
  overflow: hidden;
  flex-shrink: 0;
  margin: 10px;
}

.hobby-video,
.hobby-image {
  object-fit: cover;
  max-width: inherit;
  max-height: 200px;
  width: 100%;
}

.video-video {
  filter: opacity(90%) grayscale(50%);
}

.hobby-description {
  background: white;
  margin-top: -50px;
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
  text-align: center;
}

.hobby-details {
  padding: 10px;
  text-align: left;
}

.contact {
  padding: 10px 10px 10px 10px;
  background: #1c9e7d;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.contact-form h3 {
  margin-bottom: 10px;
}

.contact-form input {
  border-color: gray;
  border-style: solid;
  border-radius: 5px;
  padding: 5px 20px 5px 25px;
}

.contact-form button {
  background: transparent;
  color: white;
  padding: 10px 0;
  border-radius: 10px;
  border-style: solid;
  width: 100px;
  margin-top: 10px;
}

.social-link {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-size: 50px 50px;
  margin: 0 10px;
}

.social-link.deno {
  background-image: url('../assets/deno_logo_3.svg');
}

.social-link.walkirex {
  background-image: url('../assets/walkirex.svg');
}

.social-link.andysaurio {
  background-image: url('../assets/andysaurio.svg');
}

.footer {
  background: #222831;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer a {
  text-decoration: none;
  color: white;
}

.footer a :hover {
  text-decoration: underline;
}

@media screen and (min-width: 1025px) {
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 768px) {
  .greeting-presentation {
    padding-top: 20px;
  }

  .social-links {
    padding: 10px;
  }
}

@media screen and (max-width: 640px) {
  .skill-box {
    max-width: 100%;
  }

  .skill-box figure {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .skill-box figure img {
    width: 100%;
    max-width: 300px;
  }

  .video-container {
    margin-top: 5%;
  }

  .soft-skill-box {
    margin: 0;
    margin-bottom: 20px;
  }

  .hobby-card {
    width: 100%;
    max-width: 100%;
  }

  .footer {
    justify-content: center;
  }
}

@media screen and (max-width: 480px) {
  .header {
    width: 100%;
    background: transparent;
    display: block;
    height: auto;
    text-align: center;
  }

  .header-name {
    display: none;
  }

  .header-menu {
    position: fixed;
    display: flex;
    background: rgba(0, 0, 0, 0.8);
    flex-direction: column;
    top: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100vw;
    left: -100vw;
    transition: 0.3s;
  }

  .header-menu.is-active {
    left: 0;
  }

  .header-menu-item {
    width: 100%;
    color: white;
    padding: 10px;
  }

  .header-menu-item:hover {
    background: rgba(8, 48, 38, 0.9);
    border-radius: 15px;
    transition: 0.3s;
  }

  .header-burger-icon {
    display: block;
    color: white;
    z-index: 2;

  }

  .greeting {
    padding: 30px;
  }

  .contact-form {
    width: 100%;
    padding: 10px;
  }

  .contact-form #email #topic {
    width: 100%;
    max-width: inherit;
  }

  .social-links {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
  }
}

@media screen and (max-width: 320px) {
  .wrapper {
    width: 100%;
  }
}