:root {

  /* TODO: Add dark colors as variables. */

  /* Layout */
  --background: #fff;
  --color: #0f0f0f;
  /* Layout */

  /* Header */
  --header-background: #1fab89;
  --header-menu-item-hover: #1c9e7d;
  /* Header */

  /* Switch */
  --switch-background: #222831;
  --switch-color: #fff;

  
  --switch-background-dark: #ffa500;
  --switch-color-dark: #000;
  /* Switch */
  
  /* Burger */
  /* Burger */
  
  /* Greeting */
  --greeting-background: #9df3c4;
  --greeting-color: #5c6470;
  --greeting-color-bold: #393e46;
  /* Greeting */
  
  /* Skills */
  --skills-background: #d7fbe8;
  --skills-box-background: #fff;
  --skills-box-shadow: #c2e2d1;
  /* Skills */
  
  --test:#449e886c;
  /* Soft Skills */
  --soft-skill-box-border: #000;
  --soft-skill-box-shadow: #449e886c;
  /* Soft Skills */

  /* Hobbies */
  --hobby-card-background: #d9e9e0;
  --hobby-card-border: #000;
  --hobby-description-background: #FFF;
  /* Hobbies */

  /* Contact */
  --contact-background: var(--header-background);
  --contact-color: #fff;
  --contact-input-color: #fff;
  /* Contact */

  /* Footer */
  --footer-background: #222831;
  --footer-color: #fff;
  /* Footer */

}